#root{
    box-sizing: border-box;
}

.table {
    background-color: aqua;
    text-align: center;
}

#rows {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

#columns {
    margin-bottom: 1rem;
}

#boxes{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.grid {
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    margin-top: 1em;
    justify-content: center;
}